@import "../Variables/variables";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $footer_bg;
    height: auto;
    padding: 0 50px;
    

    .footer_up {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 40px 0;
        gap: 20px;


        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 20%;
            text-decoration: none;
            height: 30px;
            font-size: 20px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 10px;
            color: $logo_color;
            background-color: $logo_bg;
        }



        .service_list {
            display: grid;
            grid-template-columns: auto auto auto;
            margin-left: auto;
            gap: 5px 120px;
            color: #fff;
        }
    }

    .footer_down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;

        .social_media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-basis: 20%;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                width: 45px;
                height: 45px;
                border: 1px solid $icon_color;
                border-radius: 50%;
                cursor: pointer;
            }

            .instagram_icon {
                color: $icon_color;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $insta_color;
                    font-size: 30px;
                }
            }

            .whatsapp_icon {
                color: $icon_color;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $whatsapp_color;
                    font-size: 30px;
                }
            }
        }

        .links {
            display: flex;
            justify-content: center;
            flex-grow: 2;
            color: $icon_color;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            gap: 10px;
            margin-top: 10px;

            .link {
                text-decoration: none;
                color: $icon_color;

                .link_icon {
                    display: none;
                }
            }

        }

        .developer {
            color: #fff;
            margin-top:20px;
        }
    }

}