@import "../Variables/variables";
// overflow: hidden;
// background-color: #f1f1f1;
// padding: 90px 10px;
// transition: 0.4s;
// position: fixed;
// width: 100%;
// top: 0;
// z-index: 99;

.navigation_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: .5px solid $links_color;
    background: #0077b6;

    transition: 0.3s;
    padding: 10px 10px;
    top: 0;
    z-index: 99;
    position: fixed;

    .logo {
        width: 140px;
        height: 140px;
        transition: all 1s;


        img {
            width: 100%;
            height: 100%;
            border-radius: 20%;

        }
    }

    .logo_fixed {
        width: 100px;
        height: 100px;
        transition: all 1s;


        img {
            width: 100%;
            height: 100%;
            border-radius: 20%;
        }
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: $links_color;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;

        .link {
            text-decoration: none;
            color: $links_color;
            transition: all 0.5s;

            &:hover {
                color: #fff;
            }

            .link_icon {
                display: none;
            }
        }

    }

    .social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .icon {
            font-size: 36px;
            cursor: pointer;
        }

        .instagram_icon {
            height: 100%;
            color: #fff;
            transition: 0.3s ease-in-out;


            &:hover {
                color: $insta_color;
                font-size: 40px;
            }
        }

        .whatsapp_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: 0.3s ease-in-out;
            height: 100%;

            &:hover {
                color: $whatsapp_color;
                font-size: 40px;
            }
        }

        .phone_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: 0.3s ease-in-out;
            height: 100%;

            &:hover {
                font-size: 40px;
            }
        }
    }
}

.navbar_fixed {
    padding: 0 10px;
    /* Other fixed position styles */
}

.logo_fixed {
    width: 100px;
    height: auto;
    margin: 5px 10px;
}

@media screen and (max-width:768px) {
    .navigation_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 30px;
        }

        .links {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            position: fixed;
            left: 0;
            bottom: 0;
            border-top: .5px solid $links_color;
            justify-content: space-around;
            background-color: #fff;
            z-index: 1;

            .link {
                font-size: 30px;

                .link_text {
                    display: none;
                }

                .link_icon {
                    display: block;
                }
            }
        }

        .social_media {

            .icon {
                font-size: 40px;
                cursor: pointer;
            }
        }
    }
}